*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.graph-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}


.graph-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.main-buttons {
  display: flex;
  gap: 0.5rem;
}

.graph-buttons button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: #e2e8f0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.graph-buttons button:hover {
  background-color: #cbd5e0;
}

.all-button {
  background-color: #4a5568;
  color: white;
  font-weight: bold;
}

.graph-stack {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
.graph-box{
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}


.graph-area {
  display: flex;
  gap: 1rem;
}

.graph-back-area {
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  background-color: #ffff;
}
.graph-back-area h2{
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  justify-self: center;
}



.graph-area > :first-child {
  flex: 1;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 50vh;
  overflow-y: auto;
  width: 250px;
  background-color: #f7fafc;
  padding: 1rem;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
}

